<div class="bs-callout bs-callout-info">
<h4>New entity</h4>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra interdum tellus ac lobortis. Praesent ullamcorper imperdiet magna nec vehicula. Morbi maximus pellentesque nulla, tincidunt gravida libero consectetur consequat.</p>

  <%= render 'form' %>

</div>