<div class="bs-callout bs-callout-info">
<h4>Autodesk University</h4>
<p><b>AutoCAD, JavaScript and the Cloud</b></p>
<p>This is a real example showing how to consume a simple Cloud service<br />
developed with Ruby on Rails, with a MySQL database repository. The response<br />
is an array of JSON objects with data to be processed inside a DWG file.
</p>

  <%= render 'form' %>

</div>
